USE [master]
GO
/****** Object:  Database [Concesionarios]    Script Date: 2/11/2017 2:51:00 a. m. ******/
CREATE DATABASE [Concesionarios]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Concesionarios', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Concesionarios.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Concesionarios_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Concesionarios_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Concesionarios].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Concesionarios]
GO
/****** Object:  Table [dbo].[Equipamientos]    Script Date: 2/11/2017 2:51:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipamientos](
	[EquipamientoId] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](255) NOT NULL,
	[Precio] [numeric](8, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[EquipamientoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Logs]    Script Date: 2/11/2017 2:51:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Logs](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](max) NULL,
	[Fechacreacion] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 2/11/2017 2:51:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[MarcaId] [int] IDENTITY(1,1) NOT NULL,
	[MarcaDescripcion] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MarcaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Modelos]    Script Date: 2/11/2017 2:51:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modelos](
	[ModeloId] [int] IDENTITY(1,1) NOT NULL,
	[MarcaId] [int] NOT NULL,
	[ModeloDescripcion] [nvarchar](75) NULL,
PRIMARY KEY CLUSTERED 
(
	[ModeloId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ServiciosOficiales]    Script Date: 2/11/2017 2:51:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ServiciosOficiales](
	[ServOficialId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Direccion] [nvarchar](255) NULL,
	[NIF] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ServOficialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 2/11/2017 2:51:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
	[Contrasena] [varchar](255) NOT NULL,
	[FechaCreacion] [datetime] NULL DEFAULT (getdate()),
	[Estado] [bit] NOT NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Vehiculos]    Script Date: 2/11/2017 2:51:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Vehiculos](
	[VehiculoId] [int] IDENTITY(1,1) NOT NULL,
	[ModeloId] [int] NOT NULL,
	[Color] [varchar](60) NULL,
	[Descuento] [numeric](8, 2) NULL,
	[Precio] [numeric](8, 2) NOT NULL,
	[Cilindrada] [nvarchar](5) NULL,
	[PotenciaMaxima] [nvarchar](50) NULL,
	[Puertas] [int] NOT NULL,
	[Combustible] [nvarchar](15) NULL,
	[Ano] [nvarchar](5) NULL,
	[VehiculoTipo] [varchar](60) NULL,
	[Estado] [bit] NOT NULL DEFAULT ((1)),
	[Chasis] [varchar](20) NULL,
	[Traccion] [varchar](50) NOT NULL DEFAULT ('2WD'),
	[Pasajeros] [int] NOT NULL DEFAULT ((2)),
	[Equipamientos] [varchar](max) NULL,
	[PrecioTotalEquipamientos] [numeric](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[VehiculoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VehiculosEquipamientos]    Script Date: 2/11/2017 2:51:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehiculosEquipamientos](
	[VehEquipId] [int] IDENTITY(1,1) NOT NULL,
	[VehiculoId] [int] NOT NULL,
	[EquipamientoId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VehEquipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VehiculoVenta]    Script Date: 2/11/2017 2:51:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehiculoVenta](
	[VehVentaId] [int] IDENTITY(1,1) NOT NULL,
	[VentaId] [int] NOT NULL,
	[PrecioTotal] [numeric](8, 2) NULL,
	[VehiculoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VehVentaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vendedores]    Script Date: 2/11/2017 2:51:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendedores](
	[VendedorId] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](80) NULL,
	[Apellidos] [nvarchar](80) NULL,
	[ServOficialId] [int] NULL,
	[Cedula] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VendedorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 2/11/2017 2:51:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ventas](
	[VentaId] [int] IDENTITY(1,1) NOT NULL,
	[FechaVenta] [datetime] NULL,
	[VendedorId] [int] NOT NULL,
	[TipoPago] [varchar](50) NULL,
	[TotalMonto] [numeric](8, 2) NULL,
	[VehiculoID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VentaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[vw_VEHICULOS]    Script Date: 2/11/2017 2:51:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ACTUALIZACIÓN DE VISTA
CREATE VIEW [dbo].[vw_VEHICULOS] AS
SELECT Vehiculos.Chasis Chasis,Marcas.MarcaDescripcion Marca, Modelos.ModeloDescripcion Modelo, 
Vehiculos.Ano Año, Vehiculos.Color, Vehiculos.VehiculoTipo Tipo,Vehiculos.Puertas [Cantidad de Puertas],Vehiculos.Pasajeros [Cantidad de Pasajeros],
Vehiculos.Cilindrada, Vehiculos.Combustible, Vehiculos.PotenciaMaxima [Potencia Máxima], Vehiculos.Equipamientos, 
IIF(Estado = 1, 'Sí', 'No') [¿En Stock?],
IIF(Precio IS NULL,0,Precio) Precio, Vehiculos.PrecioTotalEquipamientos [Precio Equipamiento],
IIF(Vehiculos.Descuento IS NULL, 0,Vehiculos.Descuento) Descuento
FROM Vehiculos 
JOIN Modelos ON Modelos.ModeloId = Vehiculos.ModeloId
JOIN Marcas ON Marcas.MarcaId = Modelos.MarcaId
GO
/****** Object:  View [dbo].[vw_VEHICULOS2]    Script Date: 2/11/2017 2:51:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_VEHICULOS2] AS
SELECT *, 
IIF([Precio Equipamiento] IS NULL,CONVERT(FLOAT,(Precio + 0) * (1 - Descuento)),CONVERT(FLOAT,(Precio + [Precio Equipamiento]) * (1 - Descuento))) AS [Precio Calculado] 
FROM vw_VEHICULOS
GO
/****** Object:  View [dbo].[vw_CarSold]    Script Date: 2/11/2017 2:51:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vw_CarSold] as
SELECT v.VentaId, v.FechaVenta [Fecha de Venta], ve.Cedula [Cédula], ve.Nombres+' '+ve.Apellidos [Nombre del Vendedor],
veh.Chasis, ma.MarcaDescripcion+' '+m.ModeloDescripcion [Vehículo], v.TotalMonto [Monto], v.TipoPago [Tipo de Pago]
FROM Ventas v 
JOIN Vendedores ve ON v.VendedorId = ve.VendedorId
JOIN Vehiculos veh ON veh.VehiculoId = v.VehiculoId
JOIN Modelos m ON veh.ModeloId = m.ModeloId
JOIN Marcas ma ON m.MarcaId = ma.MarcaId	
GO
/****** Object:  View [dbo].[vw_CarNotSold]    Script Date: 2/11/2017 2:51:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_CarNotSold] AS
SELECT Chasis, Marca+' '+Modelo Vehículo, Año, [Precio Calculado] FROM vw_VEHICULOS2 WHERE Chasis NOT IN(SELECT Chasis FROM vw_CarSold)
GO
/****** Object:  View [dbo].[vw_Vendedores]    Script Date: 2/11/2017 2:51:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [dbo].[vw_Vendedores] as
SELECT 
	v.VendedorId,
      [Nombres]
      ,[Apellidos]
      ,s.Nombre as ServicioOficial
      ,[Cedula]
  FROM [Concesionarios].[dbo].[Vendedores] v left
   join ServiciosOficiales s
  on
  v.ServOficialId=s.ServOficialId left
   join Ventas t
  on
  v.VendedorId=t.VendedorId


GO
/****** Object:  View [dbo].[vw_VentAuto]    Script Date: 2/11/2017 2:51:00 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--ELIMINAR TABLA VEHICULO VENTA
--AGREGAR VEHICULO ID A TABLA VENTAS Y RELACIONAR CON VEHICULOS
--REMOVER CHECK CONSTRAINT EN TABLA VEHICULO CAMPO COMBUSTIBLES
--AGREGAR CAMPOS EQUIPAMIENTOS VARCHAR(4000), Y PRECIOTOTALEQUIPAMIENTOS NUMERIC(18,2)
--IMPLEMENTAR VISTAS DE IVAN.



CREATE VIEW [dbo].[vw_VentAuto] As
Select Ventas.FechaVenta,Ventas.TipoPago,Ventas.TotalMonto, Vendedores.Nombres, Vehiculos.Chasis 
From Ventas
Join Vendedores on Ventas.VendedorId = Vendedores.VendedorId
join Vehiculos on Vehiculos.Chasis = Vehiculos.Chasis

GO
SET IDENTITY_INSERT [dbo].[Logs] ON 

INSERT [dbo].[Logs] ([LogId], [Descripcion], [Fechacreacion]) VALUES (1, N'System.Data.SqlClient.SqlException (0x80131904): Invalid object name ''vw_Automovil''.
   en System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   en System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   en System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean asyncClose)
   en System.Data.SqlClient.TdsParser.TryRun(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj, Boolean& dataReady)
   en System.Data.SqlClient.SqlDataReader.TryConsumeMetaData()
   en System.Data.SqlClient.SqlDataReader.get_MetaData()
   en System.Data.SqlClient.SqlCommand.FinishExecuteReader(SqlDataReader ds, RunBehavior runBehavior, String resetOptionsString, Boolean isInternal, Boolean forDescribeParameterEncryption)
   en System.Data.SqlClient.SqlCommand.RunExecuteReaderTds(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, Boolean async, Int32 timeout, Task& task, Boolean asyncWrite, Boolean inRetry, SqlDataReader ds, Boolean describeParameterEncryptionRequest)
   en System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method, TaskCompletionSource`1 completion, Int32 timeout, Task& task, Boolean& usedCache, Boolean asyncWrite, Boolean inRetry)
   en System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method)
   en System.Data.SqlClient.SqlCommand.ExecuteReader(CommandBehavior behavior, String method)
   en System.Data.SqlClient.SqlCommand.ExecuteDbDataReader(CommandBehavior behavior)
   en System.Data.Common.DbCommand.System.Data.IDbCommand.ExecuteReader(CommandBehavior behavior)
   en System.Data.Common.DbDataAdapter.FillInternal(DataSet dataset, DataTable[] datatables, Int32 startRecord, Int32 maxRecords, String srcTable, IDbCommand command, CommandBehavior behavior)
   en System.Data.Common.DbDataAdapter.Fill(DataTable[] dataTables, Int32 startRecord, Int32 maxRecords, IDbCommand command, CommandBehavior behavior)
   en System.Data.Common.DbDataAdapter.Fill(DataTable dataTable)
   en ConcesionariosVehiculos.FrmAutomovil.btnBuscar_Click(Object sender, EventArgs e) en C:\Users\ENVY\Documents\UNAPEC\9no\ConcesionariosVehiculos\ConcesionariosVehiculos\FrmAutomovil.cs:línea 84
ClientConnectionId:429dce26-6712-4f6e-8519-d77d5b732bbd
Error Number:208,State:1,Class:16', CAST(N'2017-10-29 20:33:44.573' AS DateTime))
INSERT [dbo].[Logs] ([LogId], [Descripcion], [Fechacreacion]) VALUES (2, N'System.Data.SqlClient.SqlException (0x80131904): Invalid object name ''vw_Automovil''.
   en System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   en System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   en System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean asyncClose)
   en System.Data.SqlClient.TdsParser.TryRun(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj, Boolean& dataReady)
   en System.Data.SqlClient.SqlDataReader.TryConsumeMetaData()
   en System.Data.SqlClient.SqlDataReader.get_MetaData()
   en System.Data.SqlClient.SqlCommand.FinishExecuteReader(SqlDataReader ds, RunBehavior runBehavior, String resetOptionsString, Boolean isInternal, Boolean forDescribeParameterEncryption)
   en System.Data.SqlClient.SqlCommand.RunExecuteReaderTds(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, Boolean async, Int32 timeout, Task& task, Boolean asyncWrite, Boolean inRetry, SqlDataReader ds, Boolean describeParameterEncryptionRequest)
   en System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method, TaskCompletionSource`1 completion, Int32 timeout, Task& task, Boolean& usedCache, Boolean asyncWrite, Boolean inRetry)
   en System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method)
   en System.Data.SqlClient.SqlCommand.ExecuteReader(CommandBehavior behavior, String method)
   en System.Data.SqlClient.SqlCommand.ExecuteDbDataReader(CommandBehavior behavior)
   en System.Data.Common.DbCommand.System.Data.IDbCommand.ExecuteReader(CommandBehavior behavior)
   en System.Data.Common.DbDataAdapter.FillInternal(DataSet dataset, DataTable[] datatables, Int32 startRecord, Int32 maxRecords, String srcTable, IDbCommand command, CommandBehavior behavior)
   en System.Data.Common.DbDataAdapter.Fill(DataTable[] dataTables, Int32 startRecord, Int32 maxRecords, IDbCommand command, CommandBehavior behavior)
   en System.Data.Common.DbDataAdapter.Fill(DataTable dataTable)
   en ConcesionariosVehiculos.FrmAutomovil.btnBuscar_Click(Object sender, EventArgs e) en C:\Users\ENVY\Documents\UNAPEC\9no\ConcesionariosVehiculos\ConcesionariosVehiculos\FrmAutomovil.cs:línea 84
ClientConnectionId:1e2f875f-7e82-46e5-94b8-7f313c4cc1b9
Error Number:208,State:1,Class:16', CAST(N'2017-10-29 20:33:54.700' AS DateTime))
INSERT [dbo].[Logs] ([LogId], [Descripcion], [Fechacreacion]) VALUES (3, N'System.ArgumentException: No hay ninguna asignación de tipo de objeto System.Windows.Forms.TextBox a un tipo nativo de un proveedor administrado conocido.
   en System.Data.SqlClient.MetaType.GetMetaTypeFromValue(Type dataType, Object value, Boolean inferLen, Boolean streamAllowed)
   en System.Data.SqlClient.SqlParameter.GetMetaTypeOnly()
   en System.Data.SqlClient.SqlParameter.Validate(Int32 index, Boolean isCommandProc)
   en System.Data.SqlClient.SqlCommand.BuildParamList(TdsParser parser, SqlParameterCollection parameters, Boolean includeReturnValue)
   en System.Data.SqlClient.SqlCommand.BuildExecuteSql(CommandBehavior behavior, String commandText, SqlParameterCollection parameters, _SqlRPC& rpc)
   en System.Data.SqlClient.SqlCommand.RunExecuteReaderTds(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, Boolean async, Int32 timeout, Task& task, Boolean asyncWrite, Boolean inRetry, SqlDataReader ds, Boolean describeParameterEncryptionRequest)
   en System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method, TaskCompletionSource`1 completion, Int32 timeout, Task& task, Boolean& usedCache, Boolean asyncWrite, Boolean inRetry)
   en System.Data.SqlClient.SqlCommand.InternalExecuteNonQuery(TaskCompletionSource`1 completion, String methodName, Boolean sendToPipe, Int32 timeout, Boolean& usedCache, Boolean asyncWrite, Boolean inRetry)
   en System.Data.SqlClient.SqlCommand.ExecuteNonQuery()
   en ConcesionariosVehiculos.FrmVendedores.btnCrear_Click(Object sender, EventArgs e) en C:\Users\ENVY\Documents\UNAPEC\9no\ConcesionariosVehiculos\ConcesionariosVehiculos\FrmVendedores.cs:línea 279', CAST(N'2017-10-29 23:37:13.743' AS DateTime))
INSERT [dbo].[Logs] ([LogId], [Descripcion], [Fechacreacion]) VALUES (4, N'System.Data.SqlClient.SqlException (0x80131904): Must declare the scalar variable "@NIF".
   en System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   en System.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   en System.Data.SqlClient.TdsParser.ThrowExceptionAndWarning(TdsParserStateObject stateObj, Boolean callerHasConnectionLock, Boolean asyncClose)
   en System.Data.SqlClient.TdsParser.TryRun(RunBehavior runBehavior, SqlCommand cmdHandler, SqlDataReader dataStream, BulkCopySimpleResultSet bulkCopyHandler, TdsParserStateObject stateObj, Boolean& dataReady)
   en System.Data.SqlClient.SqlCommand.FinishExecuteReader(SqlDataReader ds, RunBehavior runBehavior, String resetOptionsString, Boolean isInternal, Boolean forDescribeParameterEncryption)
   en System.Data.SqlClient.SqlCommand.RunExecuteReaderTds(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, Boolean async, Int32 timeout, Task& task, Boolean asyncWrite, Boolean inRetry, SqlDataReader ds, Boolean describeParameterEncryptionRequest)
   en System.Data.SqlClient.SqlCommand.RunExecuteReader(CommandBehavior cmdBehavior, RunBehavior runBehavior, Boolean returnStream, String method, TaskCompletionSource`1 completion, Int32 timeout, Task& task, Boolean& usedCache, Boolean asyncWrite, Boolean inRetry)
   en System.Data.SqlClient.SqlCommand.InternalExecuteNonQuery(TaskCompletionSource`1 completion, String methodName, Boolean sendToPipe, Int32 timeout, Boolean& usedCache, Boolean asyncWrite, Boolean inRetry)
   en System.Data.SqlClient.SqlCommand.ExecuteNonQuery()
   en ConcesionariosVehiculos.FrmVendedores.btnCrear_Click(Object sender, EventArgs e) en C:\Users\ENVY\Documents\UNAPEC\9no\ConcesionariosVehiculos\ConcesionariosVehiculos\FrmVendedores.cs:línea 299
ClientConnectionId:e0c2f4dc-4e43-4dcc-b3e5-97d7ebec2fa4
Error Number:137,State:2,Class:15', CAST(N'2017-11-02 01:08:23.630' AS DateTime))
INSERT [dbo].[Logs] ([LogId], [Descripcion], [Fechacreacion]) VALUES (5, N'System.ArgumentOutOfRangeException: El índice estaba fuera del intervalo. Debe ser un valor no negativo e inferior al tamaño de la colección.
Nombre del parámetro: index
   en System.Collections.ArrayList.get_Item(Int32 index)
   en System.Windows.Forms.DataGridViewCellCollection.get_Item(Int32 index)
   en ConcesionariosVehiculos.FrmVendedores.FillVendedoresDVG() en C:\Users\ENVY\Documents\UNAPEC\9no\ConcesionariosVehiculos\ConcesionariosVehiculos\FrmVendedores.cs:línea 143', CAST(N'2017-11-02 01:28:11.183' AS DateTime))
INSERT [dbo].[Logs] ([LogId], [Descripcion], [Fechacreacion]) VALUES (6, N'System.ArgumentOutOfRangeException: El índice estaba fuera del intervalo. Debe ser un valor no negativo e inferior al tamaño de la colección.
Nombre del parámetro: index
   en System.Collections.ArrayList.get_Item(Int32 index)
   en System.Windows.Forms.DataGridViewCellCollection.get_Item(Int32 index)
   en ConcesionariosVehiculos.FrmVendedores.FillVendedoresDVG() en C:\Users\ENVY\Documents\UNAPEC\9no\ConcesionariosVehiculos\ConcesionariosVehiculos\FrmVendedores.cs:línea 143', CAST(N'2017-11-02 01:30:19.177' AS DateTime))
INSERT [dbo].[Logs] ([LogId], [Descripcion], [Fechacreacion]) VALUES (7, N'System.InvalidOperationException: ExecuteNonQuery requiere una Connection abierta y disponible. El estado actual de la conexión es cerrada.
   en System.Data.SqlClient.SqlCommand.ValidateCommand(String method, Boolean async)
   en System.Data.SqlClient.SqlCommand.InternalExecuteNonQuery(TaskCompletionSource`1 completion, String methodName, Boolean sendToPipe, Int32 timeout, Boolean& usedCache, Boolean asyncWrite, Boolean inRetry)
   en System.Data.SqlClient.SqlCommand.ExecuteNonQuery()
   en ConcesionariosVehiculos.FrmVendedores.btnModificar_Click(Object sender, EventArgs e) en C:\Users\ENVY\Documents\UNAPEC\9no\ConcesionariosVehiculos\ConcesionariosVehiculos\FrmVendedores.cs:línea 401
   en System.Windows.Forms.Control.OnClick(EventArgs e)
   en System.Windows.Forms.Button.OnClick(EventArgs e)
   en System.Windows.Forms.Button.OnMouseUp(MouseEventArgs mevent)
   en System.Windows.Forms.Control.WmMouseUp(Message& m, MouseButtons button, Int32 clicks)
   en System.Windows.Forms.Control.WndProc(Message& m)
   en System.Windows.Forms.ButtonBase.WndProc(Message& m)
   en System.Windows.Forms.Button.WndProc(Message& m)
   en System.Windows.Forms.Control.ControlNativeWindow.OnMessage(Message& m)
   en System.Windows.Forms.Control.ControlNativeWindow.WndProc(Message& m)
   en System.Windows.Forms.NativeWindow.DebuggableCallback(IntPtr hWnd, Int32 msg, IntPtr wparam, IntPtr lparam)
   en System.Windows.Forms.UnsafeNativeMethods.DispatchMessageW(MSG& msg)
   en System.Windows.Forms.Application.ComponentManager.System.Windows.Forms.UnsafeNativeMethods.IMsoComponentManager.FPushMessageLoop(IntPtr dwComponentID, Int32 reason, Int32 pvLoopData)
   en System.Windows.Forms.Application.ThreadContext.RunMessageLoopInner(Int32 reason, ApplicationContext context)
   en System.Windows.Forms.Application.ThreadContext.RunMessageLoop(Int32 reason, ApplicationContext context)
   en System.Windows.Forms.Application.RunDialog(Form form)
   en System.Windows.Forms.Form.ShowDialog(IWin32Window owner)
   en System.Windows.Forms.Form.ShowDialog()
   en ConcesionariosVehiculos.FrmMenu.btnVendedores_Click(Object sender, EventArgs e) en C:\Users\ENVY\Documents\UNAPEC\9no\ConcesionariosVehiculos\ConcesionariosVehiculos\FrmMenu.cs:línea 39
   en System.Windows.Forms.Control.OnClick(EventArgs e)
   en System.Windows.Forms.Button.OnClick(EventArgs e)
   en System.Windows.Forms.Button.OnMouseUp(MouseEventArgs mevent)
   en System.Windows.Forms.Control.WmMouseUp(Message& m, MouseButtons button, Int32 clicks)
   en System.Windows.Forms.Control.WndProc(Message& m)
   en System.Windows.Forms.ButtonBase.WndProc(Message& m)
   en System.Windows.Forms.Button.WndProc(Message& m)
   en System.Windows.Forms.Control.ControlNativeWindow.OnMessage(Message& m)
   en System.Windows.Forms.Control.ControlNativeWindow.WndProc(Message& m)
   en System.Windows.Forms.NativeWindow.DebuggableCallback(IntPtr hWnd, Int32 msg, IntPtr wparam, IntPtr lparam)
   en System.Windows.Forms.UnsafeNativeMethods.DispatchMessageW(MSG& msg)
   en System.Windows.Forms.Application.ComponentManager.System.Windows.Forms.UnsafeNativeMethods.IMsoComponentManager.FPushMessageLoop(IntPtr dwComponentID, Int32 reason, Int32 pvLoopData)
   en System.Windows.Forms.Application.ThreadContext.RunMessageLoopInner(Int32 reason, ApplicationContext context)
   en System.Windows.Forms.Application.ThreadContext.RunMessageLoop(Int32 reason, ApplicationContext context)
   en System.Windows.Forms.Application.RunDialog(Form form)
   en System.Windows.Forms.Form.ShowDialog(IWin32Window owner)
   en System.Windows.Forms.Form.ShowDialog()
   en ConcesionariosVehiculos.FrmLogin.validacion() en C:\Users\ENVY\Documents\UNAPEC\9no\ConcesionariosVehiculos\ConcesionariosVehiculos\FrmLogin.cs:línea 49', CAST(N'2017-11-02 01:58:13.350' AS DateTime))
SET IDENTITY_INSERT [dbo].[Logs] OFF
SET IDENTITY_INSERT [dbo].[Marcas] ON 

INSERT [dbo].[Marcas] ([MarcaId], [MarcaDescripcion]) VALUES (1, N'Audi')
INSERT [dbo].[Marcas] ([MarcaId], [MarcaDescripcion]) VALUES (2, N'BMW')
INSERT [dbo].[Marcas] ([MarcaId], [MarcaDescripcion]) VALUES (3, N'BYD')
SET IDENTITY_INSERT [dbo].[Marcas] OFF
SET IDENTITY_INSERT [dbo].[Modelos] ON 

INSERT [dbo].[Modelos] ([ModeloId], [MarcaId], [ModeloDescripcion]) VALUES (1, 1, N'A4')
INSERT [dbo].[Modelos] ([ModeloId], [MarcaId], [ModeloDescripcion]) VALUES (2, 1, N'A8')
INSERT [dbo].[Modelos] ([ModeloId], [MarcaId], [ModeloDescripcion]) VALUES (3, 1, N'A5')
SET IDENTITY_INSERT [dbo].[Modelos] OFF
SET IDENTITY_INSERT [dbo].[ServiciosOficiales] ON 

INSERT [dbo].[ServiciosOficiales] ([ServOficialId], [Nombre], [Direccion], [NIF]) VALUES (1, N'DeltaComercial', N'Ave. Luperon #3', N'1478924525')
INSERT [dbo].[ServiciosOficiales] ([ServOficialId], [Nombre], [Direccion], [NIF]) VALUES (2, N'Agencia Bella', N'John F. Kennedy #45', N'8778246925')
INSERT [dbo].[ServiciosOficiales] ([ServOficialId], [Nombre], [Direccion], [NIF]) VALUES (3, N'Avelino Abreu', N'Autopista Duarte Km 13 ', N'6847945365')
SET IDENTITY_INSERT [dbo].[ServiciosOficiales] OFF
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([UsuarioId], [Nombre], [Contrasena], [FechaCreacion], [Estado]) VALUES (1, N'ahidalgo', N'123456', CAST(N'2017-10-28 00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
SET IDENTITY_INSERT [dbo].[Vehiculos] ON 

INSERT [dbo].[Vehiculos] ([VehiculoId], [ModeloId], [Color], [Descuento], [Precio], [Cilindrada], [PotenciaMaxima], [Puertas], [Combustible], [Ano], [VehiculoTipo], [Estado], [Chasis], [Traccion], [Pasajeros], [Equipamientos], [PrecioTotalEquipamientos]) VALUES (1, 1, N'Amarillo', CAST(0.05 AS Numeric(8, 2)), CAST(650000.00 AS Numeric(8, 2)), N'6', NULL, 4, N'gasolina', N'2009', N'Sedan', 1, NULL, N'2WD', 2, NULL, NULL)
INSERT [dbo].[Vehiculos] ([VehiculoId], [ModeloId], [Color], [Descuento], [Precio], [Cilindrada], [PotenciaMaxima], [Puertas], [Combustible], [Ano], [VehiculoTipo], [Estado], [Chasis], [Traccion], [Pasajeros], [Equipamientos], [PrecioTotalEquipamientos]) VALUES (2, 21, N'Amarillo', NULL, CAST(450000.00 AS Numeric(8, 2)), N'2', NULL, 4, N'gas', N'2010', N'Sedan', 1, NULL, N'2WD', 2, NULL, NULL)
INSERT [dbo].[Vehiculos] ([VehiculoId], [ModeloId], [Color], [Descuento], [Precio], [Cilindrada], [PotenciaMaxima], [Puertas], [Combustible], [Ano], [VehiculoTipo], [Estado], [Chasis], [Traccion], [Pasajeros], [Equipamientos], [PrecioTotalEquipamientos]) VALUES (4, 32, N'Amarillo', CAST(0.10 AS Numeric(8, 2)), CAST(950000.00 AS Numeric(8, 2)), N'6', NULL, 6, N'gasolina', N'2011', N'Sedan', 1, NULL, N'2WD', 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Vehiculos] OFF
SET IDENTITY_INSERT [dbo].[Vendedores] ON 

INSERT [dbo].[Vendedores] ([VendedorId], [Nombres], [Apellidos], [ServOficialId], [Cedula]) VALUES (1, N'Ivan Eduardos', N'Serrata Bermudez', 1, N'40268413210')
INSERT [dbo].[Vendedores] ([VendedorId], [Nombres], [Apellidos], [ServOficialId], [Cedula]) VALUES (3, N'Abel Abrahams', N'Feliz Soto', 2, N'40287963241')
INSERT [dbo].[Vendedores] ([VendedorId], [Nombres], [Apellidos], [ServOficialId], [Cedula]) VALUES (5, N'Wazaa', N'Epaa', 2, N'40225812466')
SET IDENTITY_INSERT [dbo].[Vendedores] OFF
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (getdate()) FOR [FechaVenta]
GO
ALTER TABLE [dbo].[Modelos]  WITH CHECK ADD FOREIGN KEY([MarcaId])
REFERENCES [dbo].[Marcas] ([MarcaId])
GO
ALTER TABLE [dbo].[Vehiculos]  WITH CHECK ADD FOREIGN KEY([ModeloId])
REFERENCES [dbo].[Modelos] ([ModeloId])
GO
ALTER TABLE [dbo].[VehiculosEquipamientos]  WITH CHECK ADD FOREIGN KEY([EquipamientoId])
REFERENCES [dbo].[Equipamientos] ([EquipamientoId])
GO
ALTER TABLE [dbo].[VehiculosEquipamientos]  WITH CHECK ADD FOREIGN KEY([VehiculoId])
REFERENCES [dbo].[Vehiculos] ([VehiculoId])
GO
ALTER TABLE [dbo].[VehiculoVenta]  WITH CHECK ADD FOREIGN KEY([VehiculoId])
REFERENCES [dbo].[Vehiculos] ([VehiculoId])
GO
ALTER TABLE [dbo].[VehiculoVenta]  WITH CHECK ADD FOREIGN KEY([VentaId])
REFERENCES [dbo].[Ventas] ([VentaId])
GO
ALTER TABLE [dbo].[Vendedores]  WITH CHECK ADD FOREIGN KEY([ServOficialId])
REFERENCES [dbo].[ServiciosOficiales] ([ServOficialId])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([VehiculoID])
REFERENCES [dbo].[Vehiculos] ([VehiculoId])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([VendedorId])
REFERENCES [dbo].[Vendedores] ([VendedorId])
GO
ALTER TABLE [dbo].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [check_combustible] CHECK  (([Combustible]='gasoil' OR [Combustible]='gas' OR [Combustible]='gasolina'))
GO
ALTER TABLE [dbo].[Vehiculos] CHECK CONSTRAINT [check_combustible]
GO
USE [master]
GO
