USE [master]
GO
/****** Object:  Database [Concesionario]    Script Date: 10/25/2017 6:49:10 PM ******/
CREATE DATABASE [Concesionario]
GO
USE [Concesionario]
GO
/****** Object:  Table [dbo].[Automovil]    Script Date: 10/25/2017 6:49:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Automovil](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Marca] [varchar](25) NOT NULL,
	[Modelo] [varchar](25) NOT NULL,
	[Descuento] [decimal](12, 2) NULL,
	[Precio] [decimal](12, 2) NOT NULL,
	[Motor] [nvarchar](255) NULL,
	[Color] [nvarchar](255) NULL,
	[Combustible] [nvarchar](255) NULL,
	[Tipo] [nvarchar](255) NULL,
	[Puertas] [nvarchar](255) NULL,
	[Pasajeros] [nvarchar](255) NULL,
	[Traccion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Concesionario]    Script Date: 10/25/2017 6:49:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Concesionario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [nvarchar](255) NULL,
	[Clave] [nvarchar](255) NULL,
	[Nombre] [varchar](4000) NOT NULL,
 CONSTRAINT [PK__Concesio__5EE02F1064F703D6] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ServiciosOficiales]    Script Date: 10/25/2017 6:49:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ServiciosOficiales](
	[NIF] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](25) NOT NULL,
	[Domicilio] [varchar](100) NOT NULL,
	[IdConcesionario] [int] NOT NULL,
 CONSTRAINT [PK__Servicio__C7DEC3311C0001A3] PRIMARY KEY CLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Vendedores]    Script Date: 10/25/2017 6:49:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Vendedores](
	[NIF] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](25) NOT NULL,
	[Domicilio] [varchar](100) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[IdConcesionario] [int] NULL,
	[VentasRealizadas] [int] NOT NULL,
 CONSTRAINT [PK__Vendedor__C7DEC3317E1D656D] PRIMARY KEY CLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VentaAuto]    Script Date: 10/25/2017 6:49:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VentaAuto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdAuto] [int] NOT NULL,
	[IdVendedor] [int] NOT NULL,
	[PrecioVenta] [decimal](12, 2) NOT NULL,
	[ModoPago] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ServiciosOficiales]  WITH CHECK ADD  CONSTRAINT [FK__Servicios__IdCon__4316F928] FOREIGN KEY([IdConcesionario])
REFERENCES [dbo].[Concesionario] ([Id])
GO
ALTER TABLE [dbo].[ServiciosOficiales] CHECK CONSTRAINT [FK__Servicios__IdCon__4316F928]
GO
ALTER TABLE [dbo].[Vendedores]  WITH CHECK ADD  CONSTRAINT [FK_Vendedores_Concesionario] FOREIGN KEY([IdConcesionario])
REFERENCES [dbo].[Concesionario] ([Id])
GO
ALTER TABLE [dbo].[Vendedores] CHECK CONSTRAINT [FK_Vendedores_Concesionario]
GO
ALTER TABLE [dbo].[VentaAuto]  WITH CHECK ADD  CONSTRAINT [FK_VentaAuto_Automovil] FOREIGN KEY([IdAuto])
REFERENCES [dbo].[Automovil] ([Id])
GO
ALTER TABLE [dbo].[VentaAuto] CHECK CONSTRAINT [FK_VentaAuto_Automovil]
GO
ALTER TABLE [dbo].[VentaAuto]  WITH CHECK ADD  CONSTRAINT [FK_VentaAuto_Vendedores] FOREIGN KEY([IdAuto])
REFERENCES [dbo].[Vendedores] ([NIF])
GO
ALTER TABLE [dbo].[VentaAuto] CHECK CONSTRAINT [FK_VentaAuto_Vendedores]
GO
USE [master]
GO