USE [master]
GO
/****** Object:  Database [Concesionarios]    Script Date: 29/10/2017 7:15:44 p. m. ******/
CREATE DATABASE [Concesionarios]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Concesionarios', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Concesionarios.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Concesionarios_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Concesionarios_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Concesionarios].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Concesionarios]
GO
/****** Object:  Table [dbo].[Equipamientos]    Script Date: 29/10/2017 7:15:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipamientos](
	[EquipamientoId] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](255) NOT NULL,
	[Precio] [numeric](8, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[EquipamientoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Logs]    Script Date: 29/10/2017 7:15:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Logs](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](max) NULL,
	[Fechacreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 29/10/2017 7:15:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[MarcaId] [int] IDENTITY(1,1) NOT NULL,
	[MarcaDescripcion] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MarcaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Modelos]    Script Date: 29/10/2017 7:15:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modelos](
	[ModeloId] [int] IDENTITY(1,1) NOT NULL,
	[MarcaId] [int] NOT NULL,
	[ModeloDescripcion] [nvarchar](75) NULL,
PRIMARY KEY CLUSTERED 
(
	[ModeloId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ServiciosOficiales]    Script Date: 29/10/2017 7:15:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ServiciosOficiales](
	[ServOficialId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Direccion] [nvarchar](255) NULL,
	[NIF] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ServOficialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 29/10/2017 7:15:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
	[Contrasena] [varchar](255) NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Vehiculos]    Script Date: 29/10/2017 7:15:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Vehiculos](
	[VehiculoId] [int] IDENTITY(1,1) NOT NULL,
	[ModeloId] [int] NOT NULL,
	[Color] [varchar](60) NULL,
	[Descuento] [numeric](8, 2) NULL,
	[Precio] [numeric](8, 2) NOT NULL,
	[Cilindrada] [nvarchar](5) NULL,
	[PotenciaMaxima] [nvarchar](50) NULL,
	[Puertas] [int] NOT NULL,
	[Combustible] [nvarchar](15) NULL,
	[Ano] [nvarchar](5) NULL,
	[VehiculoTipo] [varchar](60) NULL,
	[Estado] [bit] NOT NULL DEFAULT ((1)),
	[Chasis] [varchar](20) NULL,
	[Traccion] [varchar](50) NOT NULL DEFAULT ('2WD'),
	[Pasajeros] [int] NOT NULL DEFAULT ((2)),
PRIMARY KEY CLUSTERED 
(
	[VehiculoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VehiculosEquipamientos]    Script Date: 29/10/2017 7:15:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehiculosEquipamientos](
	[VehEquipId] [int] IDENTITY(1,1) NOT NULL,
	[VehiculoId] [int] NOT NULL,
	[EquipamientoId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VehEquipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VehiculoVenta]    Script Date: 29/10/2017 7:15:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehiculoVenta](
	[VehVentaId] [int] IDENTITY(1,1) NOT NULL,
	[VentaId] [int] NOT NULL,
	[InventarioVehId] [int] NOT NULL,
	[PrecioTotal] [numeric](8, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[VehVentaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vendedores]    Script Date: 29/10/2017 7:15:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendedores](
	[VendedorId] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](80) NULL,
	[Apellidos] [nvarchar](80) NULL,
	[ServOficialId] [int] NULL,
	[Cedula] [nvarchar](20) NOT NULL,
	[VentasRealizadas] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VendedorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 29/10/2017 7:15:44 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ventas](
	[VentaId] [int] IDENTITY(1,1) NOT NULL,
	[FechaVenta] [datetime] NULL,
	[VendedorId] [int] NOT NULL,
	[TipoPago] [varchar](50) NULL,
	[TotalMonto] [numeric](8, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[VentaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Marcas] ON 

INSERT [dbo].[Marcas] ([MarcaId], [MarcaDescripcion]) VALUES (1, N'Audi')
INSERT [dbo].[Marcas] ([MarcaId], [MarcaDescripcion]) VALUES (2, N'BMW')
INSERT [dbo].[Marcas] ([MarcaId], [MarcaDescripcion]) VALUES (3, N'BYD')
SET IDENTITY_INSERT [dbo].[Marcas] OFF
SET IDENTITY_INSERT [dbo].[Modelos] ON 

INSERT [dbo].[Modelos] ([ModeloId], [MarcaId], [ModeloDescripcion]) VALUES (1, 1, N'A4')
INSERT [dbo].[Modelos] ([ModeloId], [MarcaId], [ModeloDescripcion]) VALUES (2, 1, N'A8')
INSERT [dbo].[Modelos] ([ModeloId], [MarcaId], [ModeloDescripcion]) VALUES (3, 1, N'A5')
SET IDENTITY_INSERT [dbo].[Modelos] OFF
SET IDENTITY_INSERT [dbo].[ServiciosOficiales] ON 

INSERT [dbo].[ServiciosOficiales] ([ServOficialId], [Nombre], [Direccion], [NIF]) VALUES (1, N'DeltaComercial', N'Ave. Luperon #3', N'1478924525')
INSERT [dbo].[ServiciosOficiales] ([ServOficialId], [Nombre], [Direccion], [NIF]) VALUES (2, N'Agencia Bella', N'John F. Kennedy #45', N'8778246925')
INSERT [dbo].[ServiciosOficiales] ([ServOficialId], [Nombre], [Direccion], [NIF]) VALUES (3, N'Avelino Abreu', N'Autopista Duarte Km 13 ', N'6847945365')
SET IDENTITY_INSERT [dbo].[ServiciosOficiales] OFF
SET IDENTITY_INSERT [dbo].[Vehiculos] ON 

INSERT [dbo].[Vehiculos] ([VehiculoId], [ModeloId], [Color], [Descuento], [Precio], [Cilindrada], [PotenciaMaxima], [Puertas], [Combustible], [Ano], [VehiculoTipo], [Estado], [Chasis], [Traccion], [Pasajeros]) VALUES (1, 1, N'Amarillo', CAST(0.05 AS Numeric(8, 2)), CAST(650000.00 AS Numeric(8, 2)), N'6', NULL, 4, N'gasolina', N'2009', N'Sedan', 1, NULL, N'2WD', 2)
INSERT [dbo].[Vehiculos] ([VehiculoId], [ModeloId], [Color], [Descuento], [Precio], [Cilindrada], [PotenciaMaxima], [Puertas], [Combustible], [Ano], [VehiculoTipo], [Estado], [Chasis], [Traccion], [Pasajeros]) VALUES (2, 21, N'Amarillo', NULL, CAST(450000.00 AS Numeric(8, 2)), N'2', NULL, 4, N'gas', N'2010', N'Sedan', 1, NULL, N'2WD', 2)
INSERT [dbo].[Vehiculos] ([VehiculoId], [ModeloId], [Color], [Descuento], [Precio], [Cilindrada], [PotenciaMaxima], [Puertas], [Combustible], [Ano], [VehiculoTipo], [Estado], [Chasis], [Traccion], [Pasajeros]) VALUES (4, 32, N'Amarillo', CAST(0.10 AS Numeric(8, 2)), CAST(950000.00 AS Numeric(8, 2)), N'6', NULL, 6, N'gasolina', N'2011', N'Sedan', 1, NULL, N'2WD', 2)
SET IDENTITY_INSERT [dbo].[Vehiculos] OFF
SET IDENTITY_INSERT [dbo].[Vendedores] ON 

INSERT [dbo].[Vendedores] ([VendedorId], [Nombres], [Apellidos], [ServOficialId], [Cedula], [VentasRealizadas]) VALUES (1, N'Ivan Eduardo', N'Serrata Bermudez', 1, N'40268413210', NULL)
INSERT [dbo].[Vendedores] ([VendedorId], [Nombres], [Apellidos], [ServOficialId], [Cedula], [VentasRealizadas]) VALUES (2, N'Alanna Yalusca', N'Hidalgo Guzman', 3, N'40225812466', NULL)
INSERT [dbo].[Vendedores] ([VendedorId], [Nombres], [Apellidos], [ServOficialId], [Cedula], [VentasRealizadas]) VALUES (3, N'Abel Abraham', N'Feliz Soto', 2, N'40287963241', NULL)
SET IDENTITY_INSERT [dbo].[Vendedores] OFF
ALTER TABLE [dbo].[Logs] ADD  DEFAULT (getdate()) FOR [Fechacreacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (getdate()) FOR [FechaVenta]
GO
ALTER TABLE [dbo].[Modelos]  WITH CHECK ADD FOREIGN KEY([MarcaId])
REFERENCES [dbo].[Marcas] ([MarcaId])
GO
ALTER TABLE [dbo].[VehiculosEquipamientos]  WITH CHECK ADD FOREIGN KEY([EquipamientoId])
REFERENCES [dbo].[Equipamientos] ([EquipamientoId])
GO
ALTER TABLE [dbo].[VehiculosEquipamientos]  WITH CHECK ADD FOREIGN KEY([VehiculoId])
REFERENCES [dbo].[Vehiculos] ([VehiculoId])
GO
ALTER TABLE [dbo].[VehiculoVenta]  WITH CHECK ADD FOREIGN KEY([VentaId])
REFERENCES [dbo].[Ventas] ([VentaId])
GO
ALTER TABLE [dbo].[Vendedores]  WITH CHECK ADD FOREIGN KEY([ServOficialId])
REFERENCES [dbo].[ServiciosOficiales] ([ServOficialId])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([VendedorId])
REFERENCES [dbo].[Vendedores] ([VendedorId])
GO
ALTER TABLE [dbo].[Vehiculos]  WITH CHECK ADD  CONSTRAINT [check_combustible] CHECK  (([Combustible]='gasoil' OR [Combustible]='gas' OR [Combustible]='gasolina'))
GO
ALTER TABLE [dbo].[Vehiculos] CHECK CONSTRAINT [check_combustible]
GO
USE [master]
GO
